<div>
  <h3>Daily Tasks:</h3>
  <div>
    <ul id="plan_tasks">
      <% @plan.tasks.each do |task| %>
        <div class="d-flex">
          <li>
            <%= task.description %>
            <button>Mark Complete</button>
          </li>
        <div>
      <% end %>
    </ul>
  </div>
</div>